<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.go8.goods.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="com.go8.goods.pojo.Brand">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cname" jdbcType="VARCHAR" property="cname"/>
        <result column="ename" jdbcType="VARCHAR" property="ename"/>
        <result column="cid" jdbcType="BIGINT" property="cid"/>
        <result column="cat_name" jdbcType="VARCHAR" property="catName"/>
        <result column="logo" jdbcType="VARCHAR" property="logo"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, cname, ename, cid, cat_name, logo, url, remark, source, status, gmt_create, gmt_modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_brand
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectCountByCondition" parameterType="com.go8.goods.pojo.Brand"
            resultType="long">
        select count(id) from t_brand
        <where>
            <if test="cname != null">
                cname like "%"#{cname}"%"
            </if>
            <if test="ename != null">
                and ename like "%"#{ename}"%"
            </if>
            <if test="cid != null">
                and cid = #{cid}
            </if>
            <if test="catName != null">
                and cat_name = #{catName}
            </if>
        </where>
    </select>
    <select id="selectByCondition"
            parameterType="com.go8.admin.common.MysqlPageWrapper"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_brand
        <if test="t != null">
            <where>
                <if test="t.cname != null">
                    cname like "%"#{t.cname}"%"
                </if>
                <if test="t.ename != null">
                    and ename like "%"#{t.ename}"%"
                </if>
                <if test="t.cid != null">
                    and cid = #{t.cid}
                </if>
                <if test="t.catName != null">
                    and cat_name = #{t.catName}
                </if>
            </where>
        </if>
        limit #{offset},#{size}
    </select>
    <select id="selectByCatalogId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_brand
        where cid = #{cid,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_brand
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.go8.goods.pojo.Brand">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_brand (cname, ename, cid,
        cat_name, logo, url,
        remark, source, status,
        gmt_create, gmt_modified)
        values (#{cname,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR}, #{cid,jdbcType=BIGINT},
        #{catName,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
        #{remark,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.go8.goods.pojo.Brand">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cname != null">
                cname,
            </if>
            <if test="ename != null">
                ename,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="catName != null">
                cat_name,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cname != null">
                #{cname,jdbcType=VARCHAR},
            </if>
            <if test="ename != null">
                #{ename,jdbcType=VARCHAR},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=BIGINT},
            </if>
            <if test="catName != null">
                #{catName,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.go8.goods.pojo.Brand">
        update t_brand
        <set>
            <if test="cname != null">
                cname = #{cname,jdbcType=VARCHAR},
            </if>
            <if test="ename != null">
                ename = #{ename,jdbcType=VARCHAR},
            </if>
            <if test="cid != null">
                cid = #{cid,jdbcType=BIGINT},
            </if>
            <if test="catName != null">
                cat_name = #{catName,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.go8.goods.pojo.Brand">
        update t_brand
        set cname = #{cname,jdbcType=VARCHAR},
        ename = #{ename,jdbcType=VARCHAR},
        cid = #{cid,jdbcType=BIGINT},
        cat_name = #{catName,jdbcType=VARCHAR},
        logo = #{logo,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        remark = #{remark,jdbcType=VARCHAR},
        source = #{source,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>